/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background: radial-gradient(50% 50% at 50% 50%, #00ff94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #ff0000 100%), linear-gradient(360deg, #0029ff 0%, #8fff00 100%), radial-gradient(120% 120% at 100% 100%, #6100ff 0%, #00ff57 100%), radial-gradient(120% 120% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    background-size: 2000px 1500px;
    background-repeat: no-repeat;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

/*.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #ff0000 100%), linear-gradient(360deg, #0029ff 0%, #8fff00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%), radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}*/

.customSize {
    resize: both !important;
    width: 100% !important;
    min-height: 70px;
}

.card-header {
    --mdb-card-header-border-width: 0px !important;
}

.scroll {
    max-height: 450px;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
   width: 12px;
}

.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #000;
}